@import "tailwindcss";
@import "@heroui/styles";

@theme {
    /* এখানে কালারগুলো ডিফাইন করুন */
    --color-primary: #0056b3;
    --color-accent: #ff8c00;
    --color-bg-page: #f4f7f6;
    --color-text-main: #333333;
}

/* গ্লোবাল বডি স্টাইল */
@layer base {
    body {
        @apply bg-bg-page text-text-main font-sans;
    }
}